extends pug/layout/headerFooter

block content
    main.main-about
        .container
            .row
                .col-md-4
                    h1 О проекте
                .col-md-8
                    .main-about__content
                        p Приветствую вас на сайте о космосе и астрономии!<br/>Самые интересные факты о космосе, планетах, созвездиях вы сможете найти на страницах сайта.<br/>Вы можете помочь стать ресурсу лучше, для этого вам необходимо написать на почту, указанную в контактах.
                        p.main-pages__signuture Информационно-тематический сайт «Кастор: о космосе и астрономии» создан учащейся 4  курса, группы Т-716, Коледой Дарьей.



