extends pug/layout/headerFooter

block content
    main.main-pages
        .container
            .row
                .col-md-4
                    .main-pages__name
                        h1.main-pages__subtitle Статьи
                        a(href="../buildPug/articlePugger.html")
                            img.arrow-left(src="../imgOpt/arrowLeft.svg", alt="")
                        p.main-pages__time 6 минут читать
                        img(src="../imgOpt/detailPhotoSun.png", alt="", class='main-pages__img')
                        p.main-pages__photo Детальный снимок Солнца
                .col-md-8
                    .main-pages__content
                        h2.main-pages__suptitle Детальные снимки Солнца показали нитевидные структуры в его намагниченной атмосфере
                        p.main-pages__descr Космический телескоп High-Resolution Coronal Imager прислал результаты своей третьей миссии по изучению солнечной короны — детальные снимки ее магнитных петель.Ученые из Университета Центрального Ланкашира (Великобритания) опубликовали снимки Солнца, сделанные с рекордным разрешением с помощью телескопа NASA High-Resolution Coronal Imager, способного распознавать в атмосфере светила структуры размером до 70 километров, сообщает The Astrophysical Journal.
                        p.main-pages__descr Первый запуск High-Resolution Coronal Imager (Hi-C) состоялся в июле 2012 года на канадской метеорологической ракете Black Brant. С тех пор аппарат провел еще две успешные миссии, каждая из которых принесла ценные данные о мелкомасштабных структурах солнечной короны, — и благодаря третьей, стартовавшей в конце мая 2018 года, были получены эти новые снимки.
                        p.main-pages__descr Как отмечают ученые, ранее некоторые части солнечной атмосферы выглядели темными и пустыми, их нельзя было детально рассмотреть, однако новые изображения обнажили невероятно тонкие (для нас) магнитные петли шириной около 500 километров, заполненные чрезвычайно горячей плазмой и пронизывающие корону Солнца, температура которой достигает миллионов кельвинов.

            .row
                .col-lg-8.offset-lg-4.col-md-10.offset-md-1
                    .main-pages__descr
                        img(src="../imgOpt/mainDetailSun.png", alt="" class='main-pages__crater')
                        p.main-pages__signuture  Снимок диска Солнца, полученный с телескопа High-Resolution Coronal Imager / © UCLan
                        p.main-pages__descr «До сих пор астрономы могли изучать ближайшую к нам звезду в стандартном разрешении, однако исключительное качество снимков, предоставленных телескопом Hi-C, позволяет нам исследовать участок Солнца в сверхвысоком разрешении. <…> Если вы смотрите футбольный матч по телевизору в стандартном разрешении, то поле выглядит зеленым и равномерным. Но посмотрите ту же игру в Ultra HD, и вы разглядите даже отдельные травинки. Это именно то, что мы получили благодаря Hi-C. Мы способны рассмотреть все области, которые составляют атмосферу звезды», — говорит профессор Роберт Уолш из Университета Центрального Ланкашира .
                        p.main-pages__descr Корональные петли, размеры которых могут достигать нескольких тысяч километров, образуют один из основных строительных «блоков» внешних слоев атмосферы звезды и существуют как на спокойном Солнце, так и в активных его областях. Изучение структуры петель светила началось в 1940-х годах. Ученые выделяют два их типа: короткие и горячие, расположенные в активной области и обычно наблюдаемые в рентгеновских лучах, и более холодные и длинные петли, которые окружают ядро и наблюдаются в ультрафиолетовом излучении.
                        img(src="../imgOpt/DetailSunPhoto.png", alt="" class='main-pages__crater')
                        p.main-pages__signuture Слева: полное изображение диска Солнца, полученное с помощью спутника AIA 171. Пунктирные белые линии обозначают целевую активную область. Среднее фото показывает регионы, которые стали предметом исследования: корональные петли с низким уровнем выбросов (красный), пучок больших петель (зеленый), две открытые области (синий) и пучок центральных петель (черный) / © UCLan
                        p.main-pages__descr По словам ученых, точный физический механизм, который создает эти тянущиеся горячие нити, остается неясным, поэтому дальнейшие научные исследования будут сосредоточены на том, почему они образуются и как их присутствие поможет нам изучить природу вспышек и бурь на Солнце, которые могут повлиять на жизнь на Земле.
                        img(src="../imgOpt/photoStars.png", alt="" class='main-pages__crater')
                        p.main-pages__signuture  Пучки корональных петель в сверхвысоком разрешении / © UCLan
                        p.main-pages__descr Ранее уникальный телескоп для наблюдений за Солнцем прислал первые изображения поверхности звезды с беспрецедентным разрешением, а ученые из Национального аэрокосмического агентства США заметили странное извержение на поверхности.

