extends pug/layout/headerFooter

block content
    main.main-pages
        .container
            .row
                .col-md-4
                    .main-pages__name
                        h1.main-pages__subtitle Статьи
                        a(href="../buildPug/articlePugger.html")
                            img.arrow-left(src="../imgOpt/arrowLeft.svg", alt="")
                        p.main-pages__time 3 минут читать
                        img(src="../imgOpt/sun.png", alt="", class='main-pages__img')
                        p.main-pages__photo На поверхности Kepler-1649c: взгляд художника
                .col-md-8
                    .main-pages__content
                        h2.main-pages__suptitle Астрономы нашли еще одного потенциально обитаемого «близнеца» Земли
                        p.main-pages__descr НАСА объявило, что отобрало идею установки радиотелескопа на лунном кратере для получения финансирования в рамках своей программы «Новаторские усовершенствованные концепции НАСА» (NIAC). Посредством этой программы инвестируют в технологические идеи от НАСА, отраслевых и академических исследователей по всей стране на ранней их стадии. 
                        p.main-pages__descr Проект предложила реализовать Лаборатория реактивного движения НАСА. Для того, чтобы развернуть телескоп, необходимо будет отправить робототехнику на обратную сторону Луны. Эта техника сможет растянуть над кратером сеть в качестве площадки под устройство. Целью миссии станет поиск планет земного типа за пределами Солнечной системы. 
                         p.main-pages__descr В пресс-релизе Лаборатории реактивного движения NASA Kepler-1649c называется самой похожей на нашу планетой из всех, обнаруженных с помощью Kepler. Расположенная в 300 световых годах от Земли, она всего лишь в 1,06 раза крупнее и получает от своей звезды 75 процентов энергии, которую мы получаем от Солнца. Подробнее о находке рассказывается в статье, опубликованной в The Astrophysical Journal Letters.
            .row
                .col-lg-8.offset-lg-4.col-md-10.offset-md-1
                    .main-pages__descr
                        img(src="../imgOpt/mainSun.png", alt="" class='main-pages__crater')
                        p.main-pages__signuture «Экзопланета  Kepler-1649c: взгляд художника»
                        p.main-pages__descr С учетом расстояния до звезды и того, что она является сравнительно тусклым красным карликом, температура на Kepler-1649c может быть примерно той же, что у нас. Планета находится так близко к звезде, что год на ней продолжается около 19,5 земных суток. В той же системе имеется еще как минимум одна каменистая планета схожего размера, но ее орбита проходит еще почти вдвое ближе к звезде.
                        p.main-pages__descr Стоит сказать, что красные карлики — звезды более беспокойные, чем наше желтое Солнце. То и дело они выбрасывают мощные потоки излучения и частиц, способные уничтожить все живое на близкой планете. Также неизвестны ни состав, ни плотность атмосферы Kepler-1649c, от которых во многом зависит температура на ее поверхности.
                        p.main-pages__descr Тем не менее пока планета выглядит одним из самых подходящих кандидатов на обитаемость. В самом деле, некоторые из известных экзопланет (например, TRAPPIST-1f) еще меньше отличаются от Земли размерами, а другие (например, TRAPPIST-1d) — температурой. Однако сочетание того и другого обнаруживается пока только у Kepler-1649c.
                      
