extends pug/layout/headerFooter



block content
    main.main-article
        .container
            .row
                .col-md-12
                    .article
                        .article__header
                            .article__header-subtitle Статьи
                        .article-news
                            div(class='animated 1 fadeInLeft delay-1s  wrap')
                                .card
                                    div( class='front' style="background-image: url('../imgOpt/moonPages.png');background-position: center;/*! background-origin: ; */background-size: cover;/*! background-repeat: no-repeat;")
                                        .front__description
                                            h2  НАСА хочет использовать кратер нп обратной стороне Луны для установки гигантского телескопа
                                            p.front__time-read 5 минут читать
                                    .back
                                        .back__description
                                            a(href="articlePages.html")
                                                p НАСА объявило, что отобрало идею установки радиотелескопа на лунном кратере для получения финансирования в рамках своей программы «Новаторские усовершенствованные концепции НАСА» (NIAC). Посредством этой программы инвестируют в технологические идеи от НАСА... 
                            div(class='animated 1 fadeInLeft delay-1s  wrap')
                                .card
                                    div( class='front' style="background-image: url('../imgOpt/blackhole.png');background-position: center;/*! background-origin: ; */background-size: cover;/*! background-repeat: no-repeat;")
                                        .front__description
                                            h2  Ученые впервые зафиксировали столкновение черных дыр существенно разных масс
                                            p.front__time-read 7 минут читать
                                    .back
                                        .back__description
                                            a(href="artcleBlackHole.html")
                                                p Беспрецедентное наблюдение дало астрономам редкую возможность получить массу новых данных и узнать больше о том, как вращаются черные дыры. Исследователи из коллаборации LIGO-Virgo, объединяющей обсерватории, располагающиеся в США и Италии...
                            div(class='animated 1 fadeInLeft delay-1s  wrap')
                                .card
                                    div( class='front' style="background-image: url('../imgOpt/sun.png');background-position: center;/*! background-origin: ; */background-size: cover;/*! background-repeat: no-repeat;")
                                        .front__description
                                            h2  Астрономы нашли еще одного потенциально обитаемого «близнеца» Земли
                                            p.front__time-read 3 минуты читать 
                                    .back
                                        .back__description                                        
                                            a(href="articleSun.html")
                                                p В архивных данных космического телескопа Kepler ученые обнаружили планету Kepler-1649c — самую близкую к Земле по размерам и, возможно, температуре на поверхности...

                            div(class='animated 1 fadeInLeft delay-1s  wrap')
                                .card
                                    div( class='front' style="background-image: url('../imgOpt/moonbig.png');background-position: center;/*! background-origin: ; */background-size: cover;/*! background-repeat: no-repeat;")
                                        .front__description
                                            h2  Эксперименты показали, что у планет-океанов не может быть дна
                                            p.front__time-read 4 минуты читать
                                    .back
                                        .back__description
                                            a(href="articlePlanetOcean.html")
                                                p Воспроизведя в эксперименте огромное давление и температуру, существующие на дне далеких планет-океанов, ученые обнаружили, что у них может вообще не быть определенного дна...

                            div(class='animated 1 fadeInLeft delay-1s  wrap')
                                .card
                                    div( class='front' style="background-image: url('../imgOpt/supernova.png');background-position: center;/*! background-origin: ; */background-size: cover;/*! background-repeat: no-repeat;")
                                        .front__description
                                            h2  Астрономы наблюдали рекордную сверхновую звезду 
                                            p.front__time-read 3 минуты читать
                                    .back
                                        .back__description
                                            a(href="articleRecordsNewStar.html")
                                                p Ученые представили результаты более двух лет наблюдений за сверхновой SN2016aps — рекордно долгой и крупной: масса этой звезды могла достигать 100 масс Солнца. 22 февраля 2016 года был зафиксирован взрыв далекой сверхновой SN2016aps, которая...
                            div(class='animated 1 fadeInLeft delay-1s  wrap')
                                .card
                                    div( class='front' style="background-image: url('../imgOpt/detailPhotoSun.png');background-position: center;/*! background-origin: ; */background-size: cover;/*! background-repeat: no-repeat;")
                                        .front__description
                                            h2  Детальные снимки Солнца показали нитевидные структуры в его намагниченной атмосфере
                                            p.front__time-read 6 минут читать
                                    .back
                                        .back__description
                                            a(href="articleDetailSun.html")
                                                p Космический телескоп High-Resolution Coronal Imager прислал результаты своей третьей миссии по изучению солнечной короны — детальные снимки ее магнитных петель. Ученые из Университета Центрального Ланкашира (Великобритания) опубликовали...
                        
                        
                        
                        
                        
                        

