extends pug/layout/headerFooter

block content
    main.main-pages
        .container
            .row
                .col-md-4
                    .main-pages__name
                        h1.main-pages__subtitle Статьи
                        a(href="../buildPug/articlePugger.html")
                            img.arrow-left(src="../imgOpt/arrowLeft.svg", alt="")
                        p.main-pages__time 4 минут читать
                        img(src="../imgOpt/moonbig.png", alt="", class='main-pages__img')
                        p.main-pages__photo Планета-океан в представлении художника
                .col-md-8
                    .main-pages__content
                        h2.main-pages__suptitle Эксперименты показали, что у планет-океанов не может быть дна
                        p.main-pages__descr Воспроизведя в эксперименте огромное давление и температуру, существующие на дне далеких планет-океанов, у
                        p.main-pages__descr Насколько известно, в нашей Галактике довольно распространены планеты-океаны, покрытые слоем воды толщиной в сотни и даже тысячи километров поверх твердой силикатной коры. Несмотря на сочетание знакомых нам веществ, геохимия этих миров должна быть совсем другой, чем у Земли. Так, у самого дна глобального океана давление настолько велико, что поведение и воды, и кремния при этих условиях пока не известно.
                         p.main-pages__descr Для создания нужного давления были поставлены эксперименты с алмазными наковальнями — парой сверхпрочных конических алмазов, которые передают сжатие на острия. Технология позволяет достигать колоссальных давлений вплоть до 1000 ГПа и получать, например, металлический водород — фазу, существующую в недрах гигантских планет. Однако на этот раз между остриями наковален ученые разместили крошечный образец, содержащий кремний и воду, сжимая его и заодно нагревая с помощью лазерных лучей до высоких температур — как на дне планеты-океана. Просвечивая образец пучком рентгеновских лучей, они следили за изменениями его микроструктуры.
            .row
                .col-lg-8.offset-lg-4.col-md-10.offset-md-1
                    .main-pages__descr
                        img(src="../imgOpt/mainPlanetOcean.png", alt="" class='main-pages__crater')
                        p.main-pages__signuture   ©ESA, Hubble, Martin Kornmesser
                        p.main-pages__descr Поэтому недавно минералоги из Университета штата Аризона воссоздали такие условия в лаборатории, рассмотрев, что происходит с водой и кремнием при экстремальном давлении — до 24 ГПа (для сравнения, давление на глубине 100 километров составит около 0,1 ГПа). Статья профессора Сан-Хон Сима (Sang-Heon Shim) и его коллег опубликована в журнале PNAS.
                       
                        p.main-pages__descr Эксперименты показали, что в таких экстремальных условиях вещества переходят в довольно экзотическую фазу: силикат и вода «взаимно растворяются», образуя смесь, содержащую микс оксидов водорода и кремния. Судя по этим результатам, планеты-океаны могут вообще не иметь определенного твердого дна, и на их колоссальной глубине вода переходит в силикатную литосферу через такой полужидкий смешанный слой.
                        p.main-pages__descr «Изначально считалось, что вода и твердые слои на водных планетах четко отделены друг от друга, — говорит один из авторов работы Кэрол Ниср (Carole Nisr). — Но наши эксперименты указали на прежде неизвестное взаимодействие воды и силиката с формированием промежуточной по составу стабильной фазы. Разделение между водой и камнем оказывается удивительно «размытым» при большом давлении и высокой температуре».

