extends pug/layout/backgroundVideoHeaderFooter

block content
    .main-wrapper
        main.main
            .container
                .row
                    .col-md-7
                        .about-planet.animated.fadeInLeft.delay-0.8s
                            h1.about-planet__subtitle Кастор
                            h2.about-planet__descr о космосе и астрономии
                            a(href="aboutMe.html")
                                p.about-planet__more О проекте
                .row
                    .col-xl-7
                        .about-lang.animated.fadeInUp.delay-0.8s
                            a(href="languagesPugger.html")
                                p.about-lang__more Выбрать язык 