.main-pages__subtitle {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 0.05em;
    padding-bottom: 52px;

}

.main-pages__descr {
    padding-top: 40px;
    font-size: 18px;
    line-height: 170%;
    
}

.arrow-left {
    padding-bottom: 111px;
}

.main-pages__time {
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 33px;
}

.main-pages__signuture{
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
}

.main-pages__photo {
    font-size: 15px;
    line-height: 130%;
    color: #909090;
}

.main-pages__suptitle {
    font-weight: bold;
    font-size: 23px;

}

.main-pages__img {
    max-height: 450px;
    width: 290px;
    padding-bottom: 20px;
}

.main-pages__content {
    margin-top: 135px;
}

.footer__title{
font-weight: bold;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.05em;
color: #E1E4ED;

}