footer.footer
    .container
        .row.wrapper
            .col-xl-4.col-md-4.col-sm-12
                h1.footer__title Кастор
            .col-xl-3.col-md-3.col-sm-6
                nav.nav
                    ul
                        li
                            a(href="../solar-system-explorer/dist/index.html") Планеты
                        li
                            a(href="../buildPug/starsPugger.html") Созвездия
                        li
                            a(href="../buildPug/articlePugger.html") Статьи
            .col-xl-3.col-md-3.col-sm-6
                ul.subscribe
                    li
                        p.footer__social Подпишись
                    li
                        a(href="https://instagram.com/_myrph?igshid=11pikmbgmlcqm" rel="noopener" target="_blanc") Instagram
                    li
                        a(href="https://t.me/dkoledai" rel="noopener" target="_blanc") Telegram
            .col-xl-2.col-md-2.col-sm-12
                ul.email
                    li
                        p.footer__social E-mail
                    li
                        a(href="mailto:darkldllll@gmail.com" rel="noopener" target="_blanc") darkldllll@gmail.com