header.header
    .container
        .row
            .col-md-12
                nav.nav
                    .nav__logo
                        img(src="../imgOpt/logo.svg", alt="")
                    ul.nav__items
                        li.nav__items-link
                            a.nav__items-link__href(href="") Планеты
                        li.nav__items-link
                            a.nav__items-link__href(href="") Созвездия
                        li.nav__items-link
                            a.nav__items-link__href(href="") Статьи
