header.header-fixed
    .container
        .row
            .col-md-12
                .header-limiter.animated.fadeInDown.delay-0.8s
                    a(href="../buildPug/newMainPugger.html")
                        img(src="../imgOpt/logo.svg", alt="", class='header-limiter__img')
                    nav
                        a(href="../solar-system-explorer/dist/index.html") Планеты
                        a(href="../buildPug/starsPugger.html") Созвездия
                        a(href="../buildPug/articlePugger.html") Статьи